@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    padding: 0%;
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   


.cuadro{
    width: 16rem;
    height: auto;
    background-color: #fffefd;
    padding: 0.9rem;
    border-radius: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: hsl(218, 44%, 22%);
    box-shadow: 0 0 7px hsl(220, 15%, 55%);
}

.qrcode{
    width:98%;
    margin: 1%;
    border-radius: 10px;
}

.description{
    padding: 0.9rem;
}

.title{
    font-size: 1.06rem;
    font-weight: bolder;
}

.parrafo{
    font-size: 0.8rem;
    font-weight: normal;
}



